<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    font-family: 'Lexend';
=======
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: Ubuntu;
>>>>>>> d21a862f56c7fa750366995769fd62c22b33a640
}

body{
    background-color: #ffffff;
}

.jumbotron,.jumbotron-materi{
    background: linear-gradient(45deg, #6E2BF1, #2f1466);
    padding: 40px;
    color: white;
}

<<<<<<< HEAD
.jumbotron .gambar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(15deg);
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.jumbotron p{
    font-size:small;
}

=======

.bg-color-purple, .btn-color-purple{
    background-color: #6E2BF1;
    color: white;
}

.btn-color-orange{
    background-color: #ff690c;
    color: white;
}

.color-orange{
    color: #ff690c;
}

.logo{
    font-size: 33px;
    font-weight: bolder;
}

>>>>>>> d21a862f56c7fa750366995769fd62c22b33a640
.justify-text{
    text-align: justify;
}

<<<<<<< HEAD
.text-center{
    text-align: center;
}

.btn-purple{
    text-decoration: none;
    color: #6E2BF1;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px #020006ab;
}

.btn-border-purple{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px #020006ab;
}

.why {
    padding: 80px;
}

.card{
    border: none;
    box-shadow: 0 2px 5px #02000642;
}

.card p{
    font-size: small;
}

.card h5{
    font-size: medium;
}
=======
.btn-color-purple:hover{
    background-color: #4e1eaf;
}

.btn-color-orange:hover{
    background-color: #ff690cc8;
}

.box-grey{
    background-color: #d9d9d928;
}

>>>>>>> d21a862f56c7fa750366995769fd62c22b33a640

.keunggulan-pop {
    opacity: 0;
    transform: scale(0.8) translateY(40px);
    transition: all 0.6s cubic-bezier(.17,.67,.83,.67);
}

.keunggulan-pop.show {
    opacity: 1;
    transform: scale(1) translateY(0);
}

<<<<<<< HEAD
footer,footer a{
    background-color: #212529;
    color: white;
    font-size: small;
}

.btn-color-orange {
    background-color: #ff5722;
    color: white;
}

.btn-color-orange:hover {
    background-color: #ff7f50 ;
    color: white;
}

@media (max-width: 768px) {
    .jumbotron .gambar {
        transform: rotate(6deg); 
        width: 80%;
        margin: 0 auto 2rem;
        margin: 20px;
    }
    .jumbotron {
        padding: 20px;
        text-align: center;
    }
=======
.card-img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: contain; 
>>>>>>> d21a862f56c7fa750366995769fd62c22b33a640
}